<!--侧边栏元素-->
<div class="yuansu">
    <div class="clearfix">
        <allgroup class="fl"></allgroup>
        <selitem class="fl"></selitem>
        <datetime class="fr"></datetime>
    </div>
    <div class="ys">
        <div class="ystop">
            <div class="searachsel">
                <span class="seasp">监测点类型</span>
                <ul>
                    <li>hello</li>
                    <li>hello</li>
                    <li>hello</li>
                    <li>hello</li>
                    <li>hello</li>
                </ul>
            </div>
        </div>
        <div class="ysmid clearfix">
            <ul>
                <li><i></i>首屏时间<i></i></li>
                <li>响应时间<i></i></li>
                <li>首屏时间<i></i></li>
                <li><i></i>域名数</li>
            </ul>
        </div>
        <div class="ysbottom">
            <div class="ysbotmid">
                <ul>
                    <li>首字节保持时间</li>
                    <li>保持连接</li>
                    <li>图片压缩</li>
                    <li>缓存节点静态资源</li>
                    <li>有效性</li>
                </ul>
            </div>
        </div>
    </div>
</div>