.dataSelect,.dataGroup,.dateTime{
  font-size: 12px;
  height:36px;
  line-height: 36px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.dataSelect{
  width:153px;
  background: url("../../../public/images/selone.png") -15px 0 no-repeat;
  position: relative;
  ul{
    position: absolute;
    width:138px;
    background: #262d33;
    top:36px;
    z-index: 999;
    li{
      a{
        font-size:12px;
        display: inline-block;
        width:100%;
        height:36px;
      }
    }
  }
}
.dataGroup{
  width:295px;
  background: url("../../../public/images/seltwo.png") -15px 0 no-repeat;
  position: relative;
  ul{
    position: absolute;
    width:279px;
    height:200px;
    overflow-y: auto;
    background: #262d33;
    top:36px;
    z-index: 999;
    li{
      a{
        font-size:12px;
        display: inline-block;
        width:100%;
        height:36px;
      }
    }
  }
}
.dateTime{
  width:215px;
  background: url("../../../public/images/selthree.png") -15px 0 no-repeat;
}
.allsel,.dataitem,.selicon,.timeitem{
  display: inline-block;
  height: 36px;
  position: absolute;
  right:46px;
  border-radius: 5px;
}
.allsel{
  width:105px;
}
.dataitem{
  width:248px;
}
.timeitem{
  width:168px;
}
.selicon{
  width:30px;
  right:15px;
  i{
    width: 8px;
    height:6px;
    background: url("../../../public/images/sprite.png") -30px -28px no-repeat;
  }
}
