<!--侧边栏概述-->
<div class="all">
    <div class="clearfix">
        <allgroup class="fl"></allgroup>
        <selitem class="fl"></selitem>
        <datetime class="fr"></datetime>
    </div>
    <div class="datapage clearfix">
        <div class="pageu fl">
            <pageusability id="pageuse" style="width:275px;height:275px;position:absolute"></pageusability>
        </div>
        <div class="pageu fl">
            <pageper id="pageper" style="width:275px;height:275px;position:absolute"></pageper>
        </div>
        <div class="pageu fl">
            <eleus id="eleus" style="width:275px;height:275px;position:absolute"></eleus>
        </div>
        <div class="pageu fl">
            <cndeva id="cndev" style="width:275px;height:275px;position:absolute"></cndeva>
        </div>
    </div>
    <div class="mainBot clearfix">
        <div class="wdmap fl">
            <span class="first">首屏时间</span>
            <span class="back">返回</span>
            <div class="wdpmaprotate">
                <wordmap id="word" style="width:850px;height:576px;transform:rotateZ(30deg)"></wordmap>
            </div>
        </div>
        <div class="ope fl">
            <operators id="operator" style="width:275px;height:175px;position:absolute"></operators>
        </div>
        <div class="opera fl">
            <operatorslow id="operatorslow" style="width:275px;height:300px;position:absolute"></operatorslow>
        </div>
    </div>
</div>