<!--侧边栏可用性-->
<div class="kyx">
    <allgroup></allgroup>
    <div class="kyxtop">
        <div class="searachsel">
            <span class="seasp">荷兰纳尔德韦克-快照sss</span>
        </div>
    </div>
    <div class="kyxtop">
        <div class="searachsel">
            <span class="seasp">检测信息</span>
        </div>
    </div>
    <div class="kyxbottom">

        <table class="table table-blue">
            <thead>
            <tr>
                <th width="60">序号</th>
                <th>时间</th>
                <th>状态</th>
                <th>监测点IP</th>
                <th>监测点</th>
                <th>目标IP</th>
                <th>DNS服务器</th>
                <!--<th>总下载时间(s)</th>-->
                <!--<th>总下载字节数(KB)</th>-->
                <!--<th>下载速度(KB/s)</th>-->
                <!--<th>错误代码</th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2975677">2017-04-07 22:27:46</a></td>
                <td>其他错误</td>
                <td>93.188.164.94</td>
                <td>菲律宾马尼拉</td>
                <td></td>
                <td>31.220.19.53</td>
                <!--<td></td>-->
                <!--<td>0.00</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            <tr>
                <td>2</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2972261">2017-04-07 17:57:46</a></td>
                <td>其他错误</td>
                <td>178.79.129.83</td>
                <td>英国伦敦</td>
                <td>23.63.98.32</td>
                <td>176.58.107.5</td>
                <!--<td></td>-->
                <!--<td>732.82</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            <tr>
                <td>3</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2969929">2017-04-07 14:57:46</a></td>
                <td>连接超时</td>
                <td>125.76.226.92</td>
                <td>陕西西安市</td>
                <td></td>
                <td></td>
                <!--<td></td>-->
                <!--<td>0.00</td>-->
                <!--<td></td>-->
                <!--<td>15000</td>-->
            </tr>
            <tr>
                <td>4</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2963489">2017-04-07 06:57:46</a></td>
                <td>其他错误</td>
                <td>139.162.169.201</td>
                <td>德国法兰克福</td>
                <td>92.122.212.32</td>
                <td>139.162.133.5</td>
                <!--<td></td>-->
                <!--<td>706.83</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            <tr>
                <td>5</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2958606">2017-04-07 00:57:46</a></td>
                <td>其他错误</td>
                <td>125.76.226.92</td>
                <td>陕西西安市</td>
                <td>113.107.57.41</td>
                <td>61.134.1.4</td>
                <!--<td></td>-->
                <!--<td>374.82</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            <tr>
                <td>6</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2951331">2017-04-06 15:57:46</a></td>
                <td>其他错误</td>
                <td>93.188.164.94</td>
                <td>菲律宾马尼拉</td>
                <td>203.130.41.20</td>
                <td>31.220.19.53</td>
                <!--<td></td>-->
                <!--<td>8636.76</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            <tr>
                <td>7</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2949719">2017-04-06 13:57:46</a></td>
                <td>其他错误</td>
                <td>89.163.220.132</td>
                <td>德国 杜塞尔多夫</td>
                <td>95.101.89.128</td>
                <td>62.141.32.3</td>
                <!--<td></td>-->
                <!--<td>1255.42</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            <tr>
                <td>8</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2948905">2017-04-06 12:57:46</a></td>
                <td>其他错误</td>
                <td>93.188.164.94</td>
                <td>菲律宾马尼拉</td>
                <td>165.254.114.32</td>
                <td>31.220.19.53</td>
                <!--<td></td>-->
                <!--<td>42.08</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            <tr>
                <td>9</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2947278">2017-04-06 10:57:46</a></td>
                <td>其他错误</td>
                <td>178.79.129.83</td>
                <td>英国伦敦</td>
                <td>88.221.134.184</td>
                <td>176.58.107.5</td>
                <!--<td></td>-->
                <!--<td>753.11</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            <tr>
                <td>10</td>
                <td><a href="/synthetic/snapshot?task_id=15&amp;page_id=2944476">2017-04-06 07:27:46</a></td>
                <td>其他错误</td>
                <td>93.188.164.94</td>
                <td>菲律宾马尼拉</td>
                <td>203.130.41.20</td>
                <td>31.220.19.53</td>
                <!--<td></td>-->
                <!--<td>9791.34</td>-->
                <!--<td></td>-->
                <!--<td>19999</td>-->
            </tr>
            </tbody>
        </table>

    </div>
</div>