.kyx {
  padding-bottom: 20px;
}
.kyx .kyxtop {
  height: 140px;
  position: relative;
}
.kyx .kyxtop .searachsel {
  margin: 15px 0 0 5px;
  width: 100%;
  height: 115px;
  background: url("/images/searchsetbkg.png") -15px 0 no-repeat;
}
.kyx .kyxtop .searachsel .seasp {
  display: inline-block;
  font-size: 14px;
  margin: 10px 0 0 30px;
}
.kyx .kyxbottom {
  background: url('/images/kyxbtbkg.png') no-repeat;
  height: 955px;
}
