<!--侧边栏运营商-->
<div class="yuyinshang">
    <div class="clearfix">
        <allgroup class="fl"></allgroup>
        <selitem class="fl"></selitem>
        <datetime class="fr"></datetime>
    </div>
    <div class="yys">
        <div class="yystop">
            <div class="searachsel">
                <span class="seasp">查询条件设置</span>
                <ul class="timewid">
                    <li class="fl">时间粒度: <div class="selb">
                        <span><i>时</i></span><span class="selsec"><b></b></span>
                    </div></li>
                    <li class="fl">时间范围: <i>aa</i>&nbsp<b></b>&nbsp<i>bb</i></li>
                    <li class="fr"><button>查询</button></li>
                </ul>
            </div>
        </div>
        <div class="firstScreen">
            <div class="chart">
                首屏时间统计
            </div>
        </div>
        <div class="yysdata">
            <table class="table table-blue">
                <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>运营商</th>
                    <th>时间</th>
                    <th>首屏时间(ms)</th>
                    <th>监测点个数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>电信</td>
                    <td>2017-04-13 00:00:00</td>
                    <td>303</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>联通</td>
                    <td>2017-04-13 00:00:00</td>
                    <td>303</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>移动</td>
                    <td>2017-04-13 00:00:00</td>
                    <td>303</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>电信</td>
                    <td>2017-04-13 02:00:00</td>
                    <td>303</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>联通</td>
                    <td>2017-04-13 02:00:00</td>
                    <td>303</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>移动</td>
                    <td>2017-04-13 03:00:00</td>
                    <td>303</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>电信</td>
                    <td>2017-04-13 03:00:00</td>
                    <td>303</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>联通</td>
                    <td>2017-04-13 03:00:00</td>
                    <td>303</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>移动</td>
                    <td>2017-04-13 03:00:00</td>
                    <td>303</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>电信</td>
                    <td>2017-04-13 04:00:00</td>
                    <td>303</td>
                    <td>8</td>
                </tr>

                </tbody>
            </table>
            <div class="page-content">
                <label>每页</label>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" >
                        20
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" data-value="10"><a href="#">10</a></li>
                        <li role="presentation" data-value="20"><a href="#">20</a></li>
                        <li role="presentation" data-value="50"><a href="#">50</a></li>
                        <li role="presentation" data-value="100"><a href="#">100</a></li>
                    </ul>条
                </div>
                <nav>
                    <ul class="pager">
                        <li><a href="javascript:void(0)" class="current" pagekey="1">1</a></li>

                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
