<!--侧边栏对比-->
<div class="duibi">
    <div class="clearfix">
        <allgroup class="fl"></allgroup>
        <selitem class="fl"></selitem>
    </div>
    <div class="db">
        <div class="dbtop">
            <div class="searachsel">
                <span class="seasp">查询条件设置</span>
                <ul class="timewid">
                    <li class="fl">时间粒度: <div class="selb">
                        <span><i>时</i></span><span class="selsec"><b></b></span>
                    </div></li>
                    <li class="fl">时间范围: <i>aa</i>&nbsp<b></b>&nbsp<i>bb</i></li>
                    <li class="fr"><button>查询</button></li>
                </ul>
            </div>
        </div>
        <div class="firstScreen">首屏时间统计</div>
    </div>
</div>